.logo{

    width: 200px;
    height: 200px;
}


.register-parent{
      
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-register{
    width: 100%;
   
}