<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="eidth=device=width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="stylesheet" href="../css/all.css">
        <link rel="stylesheet"
            href="../plugins/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
        <title>Registro</title>
    </head>

    <body>


        <h1 class="title-content">Pressão</h1>
        <div class="principal">

            <div class="principal-itens">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Pressão</th>
                            <th scope="col">Status</th>
                            <th scope="col">Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/8</td>
                            <td>Normal</td>
                            <th scope="row">25/07/2019</th>

                            <td>
                                <i class="fas fa-edit"></i>
                                <i class="fas fa-trash-alt"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>10/7</td>
                            <td>Abaixo do Normal</td>
                            <th scope="row">25/07/2019</th>

                            <td>
                                <i class="fas fa-edit"></i>
                                <i class="fas fa-trash-alt"></i>

                            </td>

                        </tr>
                        <tr>
                            <td>14/10</td>
                            <td>Acima do Normal</td>
                            <th scope="row">25/07/2019</th>

                            <td>
                                <i class="fas fa-edit"></i>
                                <i class="fas fa-trash-alt"></i>

                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="principal-edit">
                <h5>Inserir/Editar</h5>
                <div class="form_peso">
                    <form id="pressao-form">
                        <div class="form-group">
                            <label for="">Pressão</label>
                            <input name="pressaoA" type="number" class="form-control" 
                                >
                            <div>Por</div>
                            <input type="number" class="form-control" 
                                name="por">
                        </div>
                        <div class="form-group">
                            <label for="data">Data</label>
                            <input type="date" class="form-control" id="data"
                                placeholder="Informe uma Data" name="data">
                        </div>
                        <div class="form-group">
                            <label for="status">Status:</label>
                            <label for="status">Pressão abaixo do normal</label>
                        </div>
                        <div class="actions">
                            <button type="submit" type="button" class="btn
                                btn-primary">Salvar</button>
                            <button id="cancelBtn" type="button" class="btn btn
                                btnFechar" class="fechar">
                                Fechar
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </body>
    <script src="../plugins/jquery/jquery.js"></script>
    <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="../plugins/jquery-validation/dist/additional-methods.min.js"></script>
    <script
        src="../plugins/jquery-validation/dist//localization//messages_pt_BR.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script src="../js/ajax.js"></script>
    <script>
</script>

</html>